/* google font import  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* common css  */
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.common-button {
  background-color: #403f3f;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 20px;
  margin: 0 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.common-button:active {
  transform: scale(0.96);
}
